body,a{
	background: #454545;
	color: #eee;
	line-height: 1.7;
}

.sidebar{
	float: left;
	width: 20%;
}

.sidebar >*{
	padding: 10px 15px;
}
.main{
	float: right;
	width: 80%;
}

.header .logo{
	border: 5px solid #eee;
	padding: 10px 20px;
	font-size: 30px;
	display: inline-block;
	margin-bottom: 10px;
	line-height: 1;
}

a{
	text-decoration: none;
}



